<section class="page-section cta about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/assets/img/contact.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded rounded p-5">
                        <h2 class="section-heading mb-5 text-center">
                            <span class="section-heading-upper">Parabéns!</span>
                            <span class="section-heading-lower">Você encontrou um segredo!</span>
                        </h2>
                        <hr class="mb-4 mt-4" />
                        <div class="row text-left">
                            Era uma vez setembro, um mês que sempre representou felicidade. Um mês onde a solidão dói menos. Pelo menos um para aliviar a dor dos outros 11.
                            <br />
                            23 de setembro, um dia especial de virada de estação (e signo), e também do nascimento de um garoto cujo nascimento foi tido como impossível.
                            <br />
                            Um garoto sonhador cujo nome significa "a busca de seus sonhos através de uma longa jornada", esse sou eu.
                            <br />
                            Nunca verdadeiramente satisfeito, sempre preso a uma imagem de quem acham que ele é, na busca de viver esse sonho e essa jornada.
                            <br />
                            Um garoto cansado de ouvir que deve aceitar seu dia a dia porquê seu sonho não passa de "contos de fada".
                            <br />
                            Mas esse setembro foi diferente, não só quase meu sonho acabou em tragédia, aconteceu mais uma coisa que mudaria tudo.
                            <br /><br />
                            Você apareceu! E em uma canção gentil, abriu as portas de seu pequeno mundo.
                            <br />
                            Me segurou bem perto, me manteve seguro e aquecido, me protegeu em meio à toda tempestade ao redor.
                            <br />
                            Minha jornada e meu sonho, tudo apontava para você.
                            <br />
                            E nisso tudo eu vi que todos estavam errados e finalmente chegou a hora de escolher. Eu escolhi você.
                            <br /><br />
                            No meio disso tudo, a cada novo capítulo... descobri que a canção, apesar de gentil, também era sobre tristeza e solidão.
                            <br />
                            Percebi o quão grande era tudo aquilo que você lutava contra e decidi que nunca poderia deixar você dançar essa dança sozinha, não mais.
                            <br />
                            Seria a gente contra o mundo.
                            <br />
                            Uma luta improvável, mas ainda assim eu aceitei.
                            <br /><br />
                            E é aí que caiu a ficha.
                            <br /><br />
                            Tudo está contra a gente, então vamos continuar lutando, nessa grande escuridão infinita do céu sempre haverá a lua pra nos iluminar.
                            <br />
                            E se em algum momento parecer que não exista, eu serei sua lua.
                            <br />
                            Será assim até que amanheça. E poderemos aproveitar o amanhecer juntos.
                            <br /><br />
                            Eu não vou deixar você cair, eu não vou deixar você desistir.
                            <br />
                            Porque meu coração é seu, me recuso a viver um futuro onde eu não esteja do seu lado. Serei seu anjo, seu guardião, e se você não tiver mais nada, serei seu tudo.
                            <br /><br />
                            Todos os dias fico esperando ansiosamente você aparecer, é uma honra pra mim poder receber parte do seu dia a dia em meio a tudo isso.
                            <br /><br />
                            Nisso reafirmo cada promessa, cada juramento, você é a pessoa ao qual me apaixono cada dia mais, uma pessoa maravilhosa que fez meu "conto de fadas" virar de ponta cabeça.
                            <br /><br />
                            E cada dia mais esse "conto de fadas" fica mais perto de se tornar realidade. Cada sorriso, cada abraço, cada beijo, cada lágrima. Tudo isso foi perfeito, e ainda assim, cada segundo ao seu lado é ainda mais e mais perfeito.
                            <br /><br />
                            Quero continuar ao seu lado, e continuar dançando ao som dessa canção sobre esperança que começou em setembro.
                            <br /><br />
                            Christine, eu te amo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>