<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mx-auto">
                <div class="cta-inner bg-faded text-center rounded" style="opacity: 1!important; padding: 0.5rem!important;">
                    <img src="~/assets/img/menu_pronto.png" style="width: 100%; height: auto" />
                    *Drinks temáticos momentaneamente indisponíveis
                </div>
            </div>
        </div>
    </div>
</section>