<section class="page-section cta about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/assets/img/contact.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded p-5">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">Redes Sociais</span>
                            <span class="section-heading-lower">Entre em Contato!</span>
                        </h2>
                        <hr class="mb-4 mt-4"/>
                        <div class="row">
                            <div class="mb-3 mt-3">
                                <h3>HORÁRIOS DE FUNCIONAMENTO:</h3>
                            </div>
                            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Domingo
                                    <span class="ms-auto">18:00hs até 23:00hs</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Segunda-Feira
                                    <span class="ms-auto">18:00hs até 23:00hs</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Terça-Feira
                                    <span class="ms-auto">18:00hs até 23:00hs</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Quarta-Feira
                                    <span class="ms-auto">18:00hs até 23:00hs</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Quinta-Feira
                                    <span class="ms-auto">18:00hs até 23:00hs</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Sexta-Feira
                                    <span class="ms-auto">18:00hs até 23:00hs</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Sábado
                                    <span class="ms-auto">18:00hs até 23:00hs</span>
                                </li>
                            </ul>
                            <hr class="mb-4 mt-4" />
                            <div class="col-xl-4"><img class="logo-contato" src="~/assets/img/instagram_icon.png" /><a href="https://www.instagram.com/burger_geek_rj/" target="_blank">@@burger_geek_rj</a></div>
                            <div class="col-xl-4"><img class="logo-contato" src="~/assets/img/facebook_icon.png" /><a href="#" target="_blank">Facebook</a></div>
                            <div class="col-xl-4"><img class="logo-contato" src="~/assets/img/whatsapp_icon.png" /><a href="https://wa.me/5514998216705?text=Olá%2C%20eu%20gostaria%20de%20mais%20informações!" target="_blank">(14) 99821-6705</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/scripts.js" asp-append-version="true"></script>