<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/assets/img/intro2.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Novidade na Região!</span>
                    <span class="section-heading-lower">Lanches e Porções</span>
                </h2>
                <p class="mb-3">Venha conferir nossa qualidade em lanches artesanais, que são preparados especialmente para você, garantimos a qualidade e dedicação em cada sabor, que será inesquecível em sua jornada!</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="https://www.instagram.com/burger_geek_rj/" target="_blank">Siga nossa página!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Game over</span>
                        <span class="section-heading-lower">Para sua fome</span>
                    </h2>
                    <p class="mb-0">Na nossa Lanchonete Geek, a diversão não tem fim, e sua fome está prestes a ser derrotada com os sabores mais incríveis. Prepare-se para uma experiência gastronômica épica. Vamos jogar?</p>
                </div>
            </div>
        </div>
    </div>
</section>