<section class="page-section cta about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded p-5">
                        <h2 class="section-heading">
                            <span class="section-heading-upper">Área de Clientes e Pedidos</span>
                            <span class="section-heading-lower">Em Breve!</span>
                        </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>